body {
    margin: 60px auto;
    width: 70%;
    background-color: #fcfcfc;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1f1f1f;
    border-bottom: 1px dotted;
}
.menu a:hover {
    text-decoration: ;
    color: #fcfcfc;
    background-color: #1f1f1f;    
}

h1 {
    font-size: 2em;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 1.5em;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #1f1f1f;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.desc p {
    text-align: left;
}

div.meta_gallery {
    display: flex;
}

.screenshot {
    width:30%;
    height:auto;
}

.avatar {
  float:left;
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.projects-list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-list-item {
  margin: 8px;
}

.project-link {
  box-sizing: border-box;

  width: 260px;
  height: 300px;
  
  padding: 250px 0 0;
  display: block;
  
  border: 3px solid #111;
  border-radius: 4px;
  overflow: hidden;
  
  color: inherit;
  text-decoration: none;

  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project-link:hover, .project-link:focus {
  border-color: #FFDC00;
  outline: 0;
}

.project-link__title {
  box-sizing: border-box;

  height: 44px;
  display: block;
  font-size: 20px;
  border-top: 3px solid #111;
  
  line-height: 44px;
  margin: 0;
  
  background-color: white;
  text-align: center;
}